doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title peraichi sample
    link(rel="stylesheet" href="/index.scss")

  body
    h1.page-h Hello, World!
    p Test

    script(src="/index.ts")